<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <style>

  </style>
</head>
<body>
  <div style="margin-top: 100px; max-width: 100%;" class="ui container">
    <h1 class="ui center aligned header">TODO</h1>
    <form action="/add" method="post">
      <div>
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Enter Todo...">
        <br>
        <button type="submit">Add</button>

      </div>
    </form>

    {% for todo in todo_list %}
        <p>{{ todo.id }} | {{ todo.title }}</p>
        <a href="/delete/{{ todo.id }}">Check Off</a>

    {% endfor %}
  </div>

  <script type="text/javascript">

  </script>
  
</body>
</html>